<div class="border-form-div">

  <%= form_for(@coupon) do |f| %>
    <% if @coupon.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

        <ul>
        <% @coupon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title,class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description,class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :value %>
      <%= f.number_field :amount, in: 0..100, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :expiration_date %><br>
      <%= f.datetime_select :expiration, class: "form-control", order: [ :month,:day, :year], ampm: true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>

<div class="modal fade couponsurvey">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <!-- Close button -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="modal-close">&times;</span>
              </button>
            <h1>Business Footprint</h1>
            </div>
            <div class="modal-body">
              Your Business Energy Usage?
               <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">35</span>
                  Electricity points
                </li>
                <li class="list-group-item">
                  <span class="badge">20</span>
                  Recycling
                </li>
                <li class="list-group-item">
                  <span class="badge">14</span>
                  Waste reduction
                </li>
                <button type="button" class="btn btn-primary btn-lg btn-block continue">Continue</button>
              </ul>



            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->