<div class="businessdash container-fluid">
  <div class="userdash row">
  	<div class="col-lg-6">
	  	<div class="userdashback userleft row">
	  		<div class="businessdetails"><br>
	  		<strong>Name:</strong><% if current_user.business %>
	  		<%= current_user.business.name %>
	  		<% else %>
	  		why no name?
	  		<% end %><br>
	  		<strong>Description:</strong><%= current_user.business.description %><br>
	  		<strong>Zipcode:</strong><%= current_user.business.zipcode %><br>
	  		</div>
	  	</div>
		<div class="userdashback userleft row">
			<%= link_to("create a new coupon", new_coupon_path) %>
		</div>
		<div class="userdashback userleft row">Top customers</div>
	</div>
    <div class="col-lg-6 userdashback userright">
		<div>
			<div id="accordion" class="col-md-12">Coupons up right now:
			<%@last.each do |coupon| %> 
			  <h3><%=coupon.title %></h3>
			  <div>
			    <p>
			   Description:<%=coupon.description %><br>
			   Value:<%=coupon.amount %>
			    </p>
			  </div>
			   <% end %>
			  </div>
		</div>
	</div>
  </div>
  
 <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("<%= request.protocol + request.host_with_port + asset_path('video/main-video.mp4') %>",{ambient:true});
      });
    </script>
