<div class="businessdash container-fluid">
  <div class="bigbus row">
  	<div class="col-lg-4 col-lg-offset-1">
	  	<div class="row businessdiv businessdets">
	  		<strong>Name:</strong><% if current_user.business %>
	  		<%= current_user.business.name %>
	  		<% else %>
	  		why no name?
	  		<% end %><br>
	  		<strong>Description:</strong><%= current_user.business.description %><br>
	  	</div>
		<div class="businessdiv row">
		<h4><%= current_user.business.name %> Public Events</h4>
		<% @events.each do |event| %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong><a href="#"><%=event.user.full_name%></strong></a> is attending
			<%=event.event.title%><br>
		<%end %>
		</div>
		<div class="businessdiv row">
			<h4>Coupons up right now:</h4>
			<div id="accordion" class="col-md-12">
			<%@last.each do |coupon| %> 
			  <h3><%=coupon.title %> <% if coupon.expiration %>
			  	expirates on <%=coupon.expiration%> 
			  	<%end%> </h3>
			  <div>
			    <p>
			   Description:<%=coupon.description %><br>
			   Monetary Value:<%=coupon.amount %>
			    </p>
			  </div>
			   <% end %>
			  </div>
		</div>
	</div>
    <div class="col-lg-5 col-lg-offset-1 businesssurvey">
    	<div class="row">
    	  <div class="col-lg-10 col-lg-offset-1">
    		<h4>How green is <%=current_user.business.name %> so far?</h4>
    		Electricity: 
    		<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @points.electricity %>" aria-valuemin="0" aria-valuemax="<%= @points.total %>" style="width: <%= number_to_percentage((@points.electricity.to_f / @points.total) * 100, precision: 0) %>">
			    <span class="sr-only">40% Complete (success)</span>
			  </div>
			</div>
			Recycling:
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @points.recycling %>" aria-valuemin="0" aria-valuemax="<%= @points.total %>" style="width: <%= number_to_percentage((@points.recycling.to_f / @points.total) * 100, precision: 0) %>">
			    <span class="sr-only">20% Complete</span>
			  </div>
			</div>
		    Business transportation:
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @points.transportation %>" aria-valuemin="0" aria-valuemax="<%= @points.total %>" style="width: "<%= number_to_percentage((@points.transportation.to_f / @points.total) * 100, precision: 0) %>">
			    <span class="sr-only">60% Complete (warning)</span>
			  </div>
			</div>
			</div>
			<%= button_to "Update stats to create a new coupon", new_coupon_path, :class => "btn btn-success btn-lg btn-block", :method => :get %>
		  </div>
		</div>
		<div class="row">
		</div>
	</div>
	<div class="col-lg-1"></div>
  </div>
  

