<div class="background-imageforest container-fluid">
	  <div class="userdash row">
	  	<div class="col-lg-6">
		  	<div class="userdashback userleft row">
		  		<div class="col-lg-6">
		  		<img class="profilepic" src="
		  		<% if current_user.profilepic %>
		  		<%= current_user.profilepic.url %>
		  		<% else %>
		  		<%= image_url("babydefault.png") %>
		  		<% end %>">
		  		 <br>
		  		<%= link_to("edit", edit_user_registration_path) %>
		  		</div>
		  		<div class="col-lg-6 userdetails">
		  		<strong>Name:</strong><% if current_user.full_name %>
		  		<%= current_user.full_name %>
		  		<% else %>
		  		why no name?
		  		<% end %><br>
		  		<strong>Age:</strong><%= current_user.age %><br>
		  		<strong>Neighborhood:</strong><%= current_user.neighborhood %><br>
		  		<strong>Choice of transportation:</strong><%= current_user.transportation %><br>
		  		</div>
		  	</div>
			<div class="userdashback userleft row">coupons/offers for nearby registered businesses</div>
			<div class="userdashback userleft row">friends "top 8"</div>
		</div>
	    <div class="col-lg-6 userright">
			<div id='calendar'></div>
		</div>
	  </div>

		<div class="modal fade js-modal">
			<div class="modal-dialog">
			  <div class="modal-content">

			    <div class="modal-header">
			      <!-- Close button -->
			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span>&times;</span>
			      </button>
					<h1 class="date"></h1>
			    </div>
			    <div class="modal-body">
			      <%= form_for([@event], remote: true) do |f| %>
				  <%= f.label :title%>
				  <%= f.text_field :title, class: "eventtitle" %><br>

				  <%= f.label :description %>
				  <%= f.text_field :description, class: "eventdescription" %><br>

				  <%= f.label :starts_at, class: "eventdate" %><br>
				  <%= f.datetime_select :start, class: "eventtime" %><br>

				  <%= f.label :ends_at %>
				  <%= f.datetime_select :end, class: "eventend" %><br>
				  <%=f.label :method_of_transportation %><br>
		   		  <%= f.select :transportationschoice, options_for_select(%w[Bicycle Bus/Train Car], class: "transportation" ) %><br>
				  <% if current_user.business %>
				    <%= check_box_tag(:private, "false") %>
				    <%= f.label :public_event? %>
					<strong>we'll invite folks for you!</strong>
				  <% end %><br>
				  <%= f.submit remote: true, class: "eventsubmit"%>
				<% end %>
			    </div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade eventsconfirmed">
			<div class="modal-dialog">
			  <div class="modal-content">
				    <div class="modal-header">
				      <!-- Close button -->
				      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        <span>&times;</span>
				      </button>
						<span class="eventtitle"></span>
				    </div>
			    	<div class="modal-body eventdets"></div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>