<div class="background-imageforest container-fluid">
	  <div class="userdash row">
	  	<div class="col-lg-6">
		  	<div class="userleft row">
		  		<div class="col-lg-6">
		  		<img class="profilepic" src="
		  		<% if current_user.profilepic %>
		  		<%= current_user.profilepic.url %>
		  		<% else %>
		  		<%= image_url("babydefault.png") %>
		  		<% end %>">
		  		 <br>
		  		</div>
		  		<div class="userdashback col-lg-6 userdetails">
		  		<strong>Name:</strong><% if current_user.full_name %>
		  		<%= current_user.full_name %>
		  		<% else %>
		  		why no name?
		  		<% end %><br>
		  		<strong>Age:</strong><%= current_user.age %><br>
		  		<strong>Zipcode:</strong><%= current_user.zipcode %><br>
		  		<strong>Choice of transportation:</strong><%= current_user.transportation %><br>
		  		<%= link_to("edit", edit_user_registration_path) %>
		  		</div>
		  	</div>
			<div class="userdashback userleft row usercoupons"><h1>Environment status:<%= @count %></h1></div>
		</div>
	    <div class="col-lg-6 calendarback userright">
			<div class="transbox">
				<div id='calendar'></div>
			</div>
		</div>
	  </div>

		<div class="modal fade js-modal">
			<div class="modal-dialog">
			  <div class="modal-content">

			    <div class="modal-header">
			      <!-- Close button -->
			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span class="modal-close">&times;</span>
			      </button>
					<h1 class="date"></h1>
			    </div>
			    <div class="modal-body">
			      <%= form_for(@event, remote: true, html: {class: "eventform"}) do |f| %>
			       <div class="form-group">
				  <%= f.label :title%>
				  <%= f.text_field :title, class: "eventtitle form-control" %>
					</div>
			       <div class="form-group">
				  <%= f.label :description %><br>
				  <%= f.text_field :description, class: "eventdescription form-control" %><br>
				  </div>
				  <div class="form-group">
				  <%= f.label :starts_at, class: "eventdate" %>
				  <%= f.datetime_select :start, class: "eventtime form-control", order: [ :month,:day, :year], ampm: true %>
				  </div>
				  <div class="form-group">
				  <%= f.label :ends_at %>
				  <%= f.datetime_select :end, class: "eventend form-control", order: [ :month, :day, :year], ampm: true %>
				  </div>
				  <div class="form-group">
				  <%=f.label :method_of_transportation %>
		   		  <%= f.select :transportationschoice, options_for_select(%w[Bicycle Bus/Train Car Carpool Walk], class: "transportation form-control" ) %>
		   		   </div>
				  <% if current_user.business %>
				   <div class="form-group">
				    <%= check_box_tag(:private, 'true', true) %>
				    <%= f.label :private?%>
					<strong>uncheck this box to make a public business event</strong>
					</div>
				  <% end %>
				  <div class="form-group">
				  <%= f.submit remote: true, class: "eventsubmit form-control"%>
				  </div>
				<% end %>
			    </div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade eventsconfirmed">
			<div class="modal-dialog">
			  <div class="modal-content">
				    <div class="modal-header">
				      <!-- Close button -->
				      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        <span class="modal-close">&times;</span>
				      </button>
						<h1 class="eventtitle"></h1>
				    </div>
			    	<div class="modal-body eventdets">
			    	</div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>