<div class="eventform">
<div class="row">
<%= form_for(@event) do |f| %>
  <%= f.label :title, class: "title" %>
  <%= f.text_field :title %><br>

  <%= f.label :description, class: "title" %>
  <%= f.text_field :description %><br>

  <%= f.label :starts_at, class: "title" %>
  <%= f.datetime_select :starts_at %><br>

  <%= f.label :ends_at %>
  <%= f.datetime_select :ends_at %><br>

  <%= f.submit %>
<% end %>
</div>