<!-- <div class="container">
  <div class="userdash row">
  	<div class="col-lg-6">
	  	<div class="userdashback userleft row">profile pic/ user stats</div>
		<div class="userdashback userleft row">coupons/offers for nearby registered businesses</div>
		<div class="userdashback userleft row">friends "top 8"</div>
	</div>
    <div class="col-lg-6 userdashback userright">
    <%= link_to("add new event",  new_event_path)%>
		<div id='calendar'></div>
	</div>
  </div>

<div class="modal fade js-modal">
	<div class="modal-dialog">
	  <div class="modal-content">

	    <div class="modal-header">
	      <!-- Close button -->
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span>&times;</span>
	      </button>
			<h1 class="date"></h1>
	    </div>
	    <div class="modal-body">
	      <%= form_for(@event) do |f| %>
		  <%= f.label :title%>
		  <%= f.text_field :title, class: "eventtitle" %><br>

		  <%= f.label :description %>
		  <%= f.text_field :description, class: "eventdescription" %><br>

		  <%= f.label :starts_at, class: "eventdate" %><br>
		  <%= f.time_select :starts_at, class: "eventtime" %><br>

		  <%= f.label :ends_at %>
		  <%= f.datetime_select :ends_at %><br>

		  <%= f.submit %>
		<% end %>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div> -->