<div class="border-form-div">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :full_name, :autofocus => true, :placeholder => 'Full Name' %>
   	<%= f.number_field :age, :placeholder => 'AGE', in: 18..75 %>
   	<%= f.select :transportation, options_for_select(%w[Car Bicycle Bus/Train]) %>
	<%= f.select :neighborhood, options_for_select(%w[Coral_Gables Brickell Miami_Beach Wynwood]) %>
    <%= f.email_field :email, :placeholder => 'Email address' %>
    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
    <%= f.submit "Sign up",:class=>'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>